<div class="container">
    <h1 class="text-center mt-4">Showing movie details</h1>
    <p><strong>Movie_title: </strong><%= @movie.movie_title %></p>
    <p><strong>Director: </strong><%= @movie.director %></p>
    <p><strong>Actors: </strong><%= @movie.actors %></p>
    <p><strong>Movie_type: </strong><%= @movie.movie_type %></p>
    <p><strong>language: </strong><%= @movie.language %></p>
    <p><strong>Show time </strong><%= @movie.show_time %></p>
</div>
